h4{
  color: #333;
  font-size: 28px;
  margin-bottom: 20px;
}
.vip-logo{
  width:2em;
  height: 2em;
}
.status-inlog{
  width: 10px;
  height: 10px;
  border-radius: 50%;
}
.online {
  background-color: #4caf50; 
}

.offline {
  background-color: #f44336; 
}

.btnmatchsite, .ToChatBtn{
  padding: 10px 20px; 
  font-size: 1em; 
  cursor: pointer; 
  margin-bottom: 1em;
  align-items: center;
  border-radius: 5px; 
  background: linear-gradient(145deg, #d4af37, #e8cba7); 
  color: black; 
  border: 1px solid #996A30; ;
  transition: background-color 0.3s ease, transform 0.3s ease; 
  width:10em;
}
.life-statements p {
  margin-bottom: 10px;  
  word-wrap: break-word;  
}

.life-statements {
  display: flex;
  flex-direction: column;  
  gap: 10px; 
}
.like-message {
  margin-top: 10px;
  padding: 10px;
  background-color: #e0f7fa;
  color: #00796b;
  border-radius: 5px;
  text-align: center;
  font-weight: bold;
}
.btnmatchsite:hover, .search-button:hover  {
  transform: translateY(-5px);
  background: linear-gradient(145deg, #e8cba7, #d4af37); 
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

select {
  padding: 8px;
  margin: 1em 0;
  border-radius: 4px;
  border: 1px solid #ccc;
  max-width: 10em;
}
.deletebtn{
  background-color: red;
  width:2em;
  height: 2em;
  border-radius: 15%;
  margin-left:1em;
}
.deletebtn :hover{
  background-color: rgb(141, 9, 9);
}
.sendmessagebtn{
  height: 4em;
  width: 9em;
}

.columndiv2 {
  display: flex;
  flex-direction: column;
  align-items: center;     
  justify-content: center; 
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

  text-align: center; 
}

.center-button {
  display: block; 
  margin: 0 auto; 
}
.columndiv2 p {
  font-size: 1.1em;
  margin: 10px 0;
  color: #333;
}
.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; 
  height: 100%; 
}
.columndiv2 strong {
  color: #000000; 
}
.edit-icon {
  margin-left: 10px;
  align-self: flex-start;  
}
.columndiv3 {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f9f9f9;
  border-radius: 8px;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  
  text-align: center;
}

.search-container {
  display: flex;
  flex-direction: column;  
  align-items: center;     
  justify-content: center; 
  
}
.search-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
}

.search-form label {
  font-size: 16px;
  color: #555;
  margin-bottom: 8px;
}
.search-input {
  width: 100%;
  padding: 10px;
  margin: 5px 0;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  box-sizing: border-box;
  max-width: 400px;  
}

.search-select {
  width: 100%;
  padding: 10px;
  margin: 5px 0;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  box-sizing: border-box;
  max-width: 400px;
}


.search-button {
  padding: 10px 20px;
  background: linear-gradient(145deg, #d4af37, #e8cba7);
  color: black;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  margin-top: 10px;
  max-width: 400px;
}

.columndiv2 .interests-list {
  color: black; 
}

.result-item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 15px;
  padding-bottom: 60px; 
  margin-bottom: 10px;
  border-radius: 10px;
  width: 300px;
  position: relative; 
}

.button-container {
  display: flex;
  justify-content: center;
  width:2em;
  gap: 30px; 
  position: absolute;
  bottom: -10px; 
  left: 50%;
  transform: translateX(-50%);

}
.likeheart{
  width:1em;
}
.like-button, .deny-button {
  font-size: 24px;
  padding: 10px 20px;
  cursor: pointer;
  border: none; 
  background: none; 
  outline: none; 
}
.restore-button{
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(145deg, #d4af37, #e8cba7);
  color: #3a3a3a;
  font-size: 18px;
  font-weight: bold;
  padding: 12px 30px;
  border-radius: 15px;
  border: 2px solid transparent;
  cursor: pointer;
  transition: all 0.3s ease;
  width: 10em;
  height: 5em;
  margin-top: 1em;
}

form > .form2{
  margin: 2rem auto;
  padding: 2rem;
  border-radius: 10px;
}

.search-results {
  margin-top: 20px;
  font-size: 1.1rem;
  text-align: center;
}
.Divformatch{
  display: flex;
  flex-direction: column;
}

.results-container {
  max-width: 1200px;
  margin: 20px auto;
}

.results {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #ffffff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.results-heading {
  font-size: 22px;
  color: #333;
  margin-bottom: 15px;
}

.results-list {
  list-style-type: none;
  padding: 0;
  width: 100%;
}

.result-item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border: 1px solid #ddd;
  padding: 15px;
  margin-bottom: 10px;
  border-radius: 10px;
  width: 300px;
  background-color: #ffffff;

}

.result-info {
  display: flex;
  flex-direction: column;
  align-items: center; 
  justify-content: center; 
  text-align: center; 

}

.result-info h4 {
  color: #333;
  font-size: 20px;
  margin-bottom: 10px; 
}

.result-info p {
  font-size: 16px;
  margin: 5px 0;
}


.life-statements {
  margin-top: 15px;
  font-style: italic;
  color: #777;
  margin:0.5em;
}

.no-results {
  text-align: center;
  font-size: 18px;
  color: #888;
}



.age-filter-container {
  display: flex;
  gap: 10px; 
  align-items: center;
  flex-wrap: wrap; 
  justify-content: center; 
  width: 100%;
  max-width: 100%;
  box-sizing: border-box;
}

.age-filter-container label {
  font-weight: 600;
  color: #444;
  white-space: nowrap;
}

.age-filter-container input {
  width: 70px; 
  max-width: 30%; 
  padding: 8px;
  font-size: 14px;
  border: 1px solid #ccc;
  border-radius: 5px;
  text-align: center;
  transition: border-color 0.3s;
}

.age-filter-container input:focus {
  border-color: #007BFF;
  outline: none;
}