@media (max-width: 480px) {
    .Rubriktext {
        font-size: 40px; 
        align-items: center;
        margin-top:1em; 
    }
    .logga {
        width: 100px; 
        height: 70px;
        margin-bottom: 1em;
    }
    .welcometexttopage {
        font-size: 16px;  
        margin-top: 2em;
        margin-bottom: 1em;
    }
    .btncontainer {
        flex-direction: column;  
        align-items: center;
    }

    .frontpagetextDiv {
        width:19em;
        margin-top:2em;
    }
    .confirmation-message button {
        font-size: 12px;
    }
    .confirmation-message{
        width: 50%;
    }
    .allowedTohomebtn{
        width: 5.5em;
    }
    .confirmation-message h2{
        font-size: 14px;
    }
    form button{
        width: 75%;
    }
    form input{
        width: 80%;
    }
    form {
        width: 75%;
    }
    .login-container {
        padding: 0.5em;
        max-width: 100%; 
    }

    .login-header {
        font-size: 20px; 
        margin-bottom: 1.2em;
    }

    .input-group input {
        padding: 10px; 
        font-size: 14px; 
    }

    .login-button {
        padding: 10px; 
        font-size: 14px; 
    }

    .justtextbtn {
        font-size: 14px; 
    }
      .result-item {
        width: 95%; 
        padding: 10px;
      }
      
      .button-container {
        gap: 10px; 
      }
    
      .like-button, .deny-button {
        font-size: 20px; 
      }
      .chat-container {
        padding: 10px;
      }
    
      .chat-header h2 {
        font-size: 22px;
      }
    
      .chat-header h3 {
        font-size: 16px;
      }
    
      .chat-message p {
        font-size: 14px;
        padding: 4px;
      }
    
      .chat-message-input-container textarea {
        font-size: 14px;
        padding: 10px;
     
      }
    
      .chat-message-input-container button {
        font-size: 14px;
        padding: 5px;
      }
    
      .chat-message button.delete-message {
        font-size: 12px;
        padding: 3px 8px;
      }
}

@media (max-width: 350px) {
    .Rubriktext {
        font-size: 30px;  
    }

    .logga {
        width: 130px;  
        height: 60px;
    }

    .welcometexttopage {
        font-size: 15px;  
        padding:1em;
    }
    .Rubriktext {
      font-size: 30px; 
      align-items: center;
      margin-top:1em; 
  }

    .btncontainer {
        flex-direction: column;  
    }
    .buttonbk, .buttonnext {
        width: 90%;
        font-size: 14px;
        margin: 0; 

    }
}
@media (max-width: 425px) {
  .result-item {
    width: 90%; 
    padding: 10px;
  }
  
  .button-container {
    gap: 10px; 
  }

  .like-button, .deny-button {
    font-size: 20px;
  }
}

@media (max-width: 375px) {
  .result-item {
    width: 95%;
  }

  .button-container {
    gap: 8px;
  }

  .like-button, .deny-button {
    font-size: 18px;
  }
}

  @media screen and (max-width: 359px) {
    .chat-message {
      flex-direction: column; 
    }
  
    .sender {
      font-size: 12px; 
    }
  
    .message-text {
      font-size: 14px; 
    }
  
    .chat-messages-container {
      max-height: calc(100vh - 150px); 
    }
  }
  @media screen and (max-width: 359px) {
    .chat-messages-container {
      max-height: 250px; 
    }
  }