.report-container{
display:flex;
flex-direction: column;
align-items: center;
margin: 0 auto;

text-align: center;
justify-content: center;
}
.report-container.open {
    border: 1px solid #996A30;
  }
.reportbtn{
    background-color: rgb(216, 17, 17);
    height: 2em;
    border: 1px solid rgb(92, 0, 0);
    color:black;
}

.reportbtn:hover{
background-color: rgb(253, 27, 27);
cursor: pointer;
}
.closebtn {
    background: none;
    border: none;
    font-size: 1.5rem;
    cursor: pointer;
    color:none;
    
  }
.closebtn:hover{
    cursor: pointer;
    color:none;
}
