
/* emojis i button*/
.emoji-picker img {
  display:flex;
    width: 40px;  
    gap: 10px; 
    justify-content: center;    
}
.usecodeBtn{
  background: linear-gradient(145deg, #d4af37, #e8cba7);
  width:6em;
  cursor: pointer;
}
.usecodeBtn:hover {
  background-color: #f5d142; 
  transform: scale(1.1);
}
.emoji-item:hover {
  background: linear-gradient(145deg, #d4af37, #e8cba7);
  transform: scale(1.1);
}
.emoji-item {
  display: inline-block;
  width: 60px;
  height: 80px;
  background-color: white;
  border: 2px solid gold;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: transform 0.3s ease;
  text-align: center;
}

.emoji-item:hover {
  transform: scale(1.1);
}

.emoji {
  width: 50px;
  height: 50px;
  object-fit: contain;
}

.price-text {
  font-size: 1rem;
  color: black;
}

.emoji-count {
  margin-top: 8px;
  font-size: 1rem;
  color: #333;
}
.emoji-picker {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
  width: 100%;
  max-width: 100%;
  box-sizing: border-box;
  overflow: hidden;
}
.disabled {
  opacity: 0.5;
  pointer-events: none;
}
.emoji-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
  width: 100%;
  margin-bottom: 1em;
}

.emoji-img {
  max-width: 70%;
  max-height: 70%;
}
.emoji-img1{
  width:20px;
}
.small-emoji img {
  width: 30px; 
  
}
.vipinfobtn{
  background-color: transparent;
  color:black;
font-size: 20px;
  border:none;
  margin-bottom: 2em;
  margin-top: 0.2em;
}
.VIP-purchased{
  display:flex;
  flex-direction: column;

}
.sent-emoji {
    width: 60px; 
}
.emoji-pickershop{
    display:flex;

}
.emoji-pickershop img {
    width: 30px;  
    height:46px;
}
.emoji-picker2{
display:flex;
flex-direction: row;
flex-wrap: wrap;
}
.emoji-shop {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 100%;
    max-width: 400px;
    margin: 0 auto; 
  }
  .emoji-shop-list {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    max-width: 600px;
  }
  
  .emoji-group {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  
  .emoji-price-group h2 {
    font-size: 1.5rem;
    margin-bottom: 10px;
  }
  
  .disabled {
    opacity: 0.5;
    cursor: not-allowed;
  }
  .price-text {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 10px;
    margin-top: 0; 
    text-align: center;
  }
  
  .emoji-picker2 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
    margin-top: 10px;
  }
  .vip-status {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    color: black;
    background-color: none;  
  }
.emoji-picker2 img {
    width: 40px;  
    gap: 10px; 
    height:61px;
}

.buybtncontainer {
    display: flex;
    flex-direction: column;
    width: 100%; 
    max-width: 300px; 
    margin: 0 auto; 
    gap: 10px; 

  }

.shopBtn{
    background-color: #996A30; 
    color: rgb(0, 0, 0);
    border: none;
    padding: 6px 8px;
    font-size: 16px;
    border-radius: 8px;
    cursor: pointer;
    text-align: center;

}

.shopBtn:hover{
    background-color: #6d4c24;
  transform: scale(1.05);

}
/* Köpta emojis */
.emoji-purchased {
    margin-top: 30px;
    text-align: center;
  }
  
  .emoji-purchased p {
    font-size: 16px;
    font-weight: bold;
  }
  
  .emoji-purchased .emoji-picker2 {
    justify-content: center;
    gap: 10px;
  }

  .promo-code-section{
    display:flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 100%; 
    max-width: 300px; 
    margin: 0 auto;
    margin-top:2em;
  }
  .emoji-btn{
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(145deg, #d4af37, #e8cba7);
    color: #3a3a3a;
    font-size: 18px;
    font-weight: bold;
    padding: 12px 30px;
    border-radius: 10px;
    border: 2px solid transparent;
    cursor: pointer;
    transition: all 0.3s ease;
    width: 5em;
    height: 3em;
  }
  
  .rowBtncontainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 100%;
    box-sizing: border-box;
  }