

/* emojis i button*/
.emoji-picker img {
  display:flex;
    width: 40px;  
    gap: 10px; 
    
}

.emoji-item {
  display: inline-block; 
  height: 40px;
  align-items: center;
  margin: 0 auto;

}

.vipinfobtn{
  background-color: transparent;
  color:black;
font-size: 20px;
  border:none;
  margin-bottom: 2em;
  margin-top: 0.2em;
}
.VIP-purchased{
  display:flex;
  flex-direction: column;

}
.sent-emoji {
    width: 60px; 
}
.emoji-pickershop{
    display:flex;

}
.emoji-pickershop img {
    width: 30px;  
    height:46px;
}
.emoji-picker2{
display:flex;
flex-direction: row;
flex-wrap: wrap;
}
.emoji-shop {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 100%;
    max-width: 400px;
    margin: 0 auto; 
  }
  
  .emoji-group {
    width: 100%;
    display: flex;
    flex-direction: row;
  }
  
  .disabled {
    opacity: 0.5;
    cursor: not-allowed;
  }
  .price-text {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 10px;
    margin-top: 0; 
    text-align: center;
  }
  
  .emoji-picker2 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
    margin-top: 10px;
  }
  .vip-status{
    display:flex;
    flex-direction: column;
    text-align: center;
  }

.emoji-picker2 img {
    width: 40px;  
    gap: 10px; 
    height:61px;
}

.buybtncontainer {
    display: flex;
    flex-direction: column;
    width: 100%; 
    max-width: 300px; 
    margin: 0 auto; 
    gap: 10px; 

  }

.shopBtn{
    background-color: #996A30; 
    color: rgb(0, 0, 0);
    border: none;
    padding: 6px 8px;
    font-size: 16px;
    border-radius: 8px;
    cursor: pointer;
    text-align: center;

}

.shopBtn:hover{
    background-color: #6d4c24;
  transform: scale(1.05);

}
/* Köpta emojis */
.emoji-purchased {
    margin-top: 30px;
    text-align: center;
  }
  
  .emoji-purchased p {
    font-size: 16px;
    font-weight: bold;
  }
  
  .emoji-purchased .emoji-picker2 {
    justify-content: center;
    gap: 10px;
  }

  .promo-code-section{
    display:flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 100%; 
    max-width: 300px; 
    margin: 0 auto;
    margin-top:2em;
  }
