.policy-container, .match-profile {
    padding: 20px;
    background-color: #f9f9f9;
    margin: 0 auto;
    max-width: 800px;
    display:flex;
    flex-direction: column;
}

.policy-intro {
    font-size: 16px;
    color: #333;
    margin-bottom: 20px;
}

.policy-section {
    margin-bottom: 30px;
    display: flex;
    flex-direction: column; 
}

.policy-title {
    font-size: 18px;
    font-weight: bold;
    color: #2c3e50;
    margin-bottom: 10px;

}

.policy-text {
    font-size: 14px;
    color: #555;
    line-height: 1.6;
}
.close-button {
    width: 2em;
    height: 2em;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    background-color: transparent;
    border: none;
    color: #333;
    cursor: pointer;
    padding: 0;

}
.optiondeletecancel{
    display:flex;
    gap: 2em;
}
.delete-btn{
    border: solid 1px red;
    width:5em;
    height: 4em;
    margin-top: 2em;
}
.cancel-btn{
    border: solid 1px green;
    width:5em;
    margin-top: 2em;
}
.confirmation-box{
    display:flex;
    flex-direction: column;
}
.text-red{
    color:red;
    font-weight: bold;
}